/* - Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Gradient

Background gradient:

- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

### Neutral

#### Text

- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%)
### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700
 */

@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:100,200,300,regular,500,600,700,800,900);

body{
    background: linear-gradient(to bottom, hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    font-family: "Kumbh Sans", sans-serif;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    align-items: center;
    width: 70%;
    background-color: hsl(240, 5%, 91%);
    height: 70%;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    z-index: -1;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 63%;
    background-position: -10rem -6rem;
}


.img-cont{
    height: 100%;
    width: 50%;
    background-image: url(./images/illustration-woman-online-desktop.svg);
    background-size: 90%;
    background-position: -2rem 2rem;
    background-repeat: no-repeat;
    position: relative;
}

.img-cont>img{
    position: absolute;
    bottom: 25%;
    left: -17%;
    width: 35%;
}

.mobile {
    display: none;
}

.content{
    width: 50%;
}

@media(max-width:1024px){
    .img-cont>img{
        bottom: 40%;
    }
}

@media(min-width:1280px){
    .img-cont>img{
        bottom: 45%;
    }
}

@media(max-width:768px){
    .card{
        background-position: center -7rem;
        flex-direction: column;
        background-size: 75%;
    }
    .img-cont>img{
        display: none;
    }
    .img-cont{
        background-image: none;
    }
   .mobile {
    display: block;
    position: absolute;
    top: 2%;
    width: 50%;
   }
   .content {
    margin-top: 50%;
   }
}